@import "tailwindcss";

:root {
	--background: #FFFFFF;
	--foreground: #171717;
	--primary: #2940D5;
	--secondary: #2940D5;
	--tertiary: #DBF066;
	--alert: #e02020;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-poppins), sans-serif;
}
