@import "tailwindcss";

:root {
	--background: #FFFFFF;
	--foreground: #171717;
	--primary: #2940D5;
	--secondary: #DBF066;
	--alert: #e02020;
}

html {
	scroll-behavior: smooth;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-poppins), sans-serif;
}

/* p {
	display: block;
	margin-block-start: 0em;
	margin-block-end: 0em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	unicode-bidi: isolate;
} */